body{
  margin-right: auto;
  margin-left: auto;
}

h1 {
  margin: 0;
}

.header_style {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  margin-bottom: 10px;
  height: 50px;
  align-items: center;
  position: relative;
}
.glass_icon {
  position: absolute;
  right: 200px;
  top: 5px;
}
.search_user {
  position: absolute;
  right: 5px;
  top: 12px;
}
/* ユーザー検索ボックス */
.search-area input[type="text"] {
  padding: 5px 5px 3px;
  font-size: 16px;
  border: 1px solid #D6D6D6;
}

.search-area input[type="text"]:focus {
  background: #F9F9F9;
}

.search-result {
  margin-top: 20px;
}
.search-result__hit-num span {
  font-weight: bold;
}
#search-result__list {
  margin-top: 15px;
}
#search-result__list span {
  display: inline-block;
  margin-right: 15px;
  padding: 5px;
  background: #F2F2F2;
}
.target-area {
  margin-top: 15px;
  padding: 10px 0 5px 0;
  text-align: center;
  background: #eaf9d4;
  border: 2px solid #01b236;
  border-radius: 10px;
  /* display: none; */
}
/* ユーザー検索ボックス */

.chat_textarea {
  font-size: 15px;
}

h2 {
  border-bottom: 2px solid blue;
}

.search_form {
  display: inline;
  float: right;
}

.talk_header {

}

input.chat_submit {
  width: 90px;
  height: 35px;
  background-color: #dfefff;
}

ul {
  list-style: none;
}

.posted_chat.login_user {
  float: left;
  background-color: #dfefff;
  border: 2px groove #383ff7;
  border-radius: 10px;
  padding: 3px;
  margin-bottom:20px;
  display: inline-block;
  font-size: 17px;
  width: auto;
}

.show_stamp1 {
  display: inline-block;
}

.posted_chat.guest_user {
  float: right;
  background-color: #d9f779;
  border: 2px groove green;
  border-radius: 10px;
  padding: 3px;
  margin-bottom:20px;
  display: inline-block;
  font-size: 17px;
  width: auto;
}

.posted_stamp.login_user {
  float: left;
  border-radius: 10px;
  padding: 3px;
  margin-bottom:20px;
  display: inline-block;
  width: auto;
}

.posted_stamp.guest_user {
  float: right;
  border-radius: 10px;
  padding: 3px;
  margin-bottom:20px;
  display: inline-block;
  width: auto;
}

.show_stamp {
  display: inline-block;
}

.user_info {
  font-size: 5px;
}

.container {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}




.header {

}

.home_btn {
  height: 25px;
  width: 40px;
  font-weight: lighter;
  text-align: center;
  border:1px solid #38aef0;
  color: black;
  padding: 5px 20px;
}

.header_btn {
  height: 25px;
  width: 40px;
  font-weight: lighter;
  text-align: center;
  border:1px solid #38aef0;
  color: black;
  padding: 5px 20px;
}

.log_user {
  float: right;
}

.room_show {
  display: block;
}

.del_btn {
  display: inline-block;
}
/* 吹き出し */
.a {
  position: relative;
}
.reaction_box {
  position: absolute;
  top: -18px;
  text-align: center;

  background-color: #f9e3e5;
  border: 2px solid #e50014;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  padding: 0;
  display: none;
}

.box-1 {
  left: 120px;
}
.box-2 {
  left: 150px;
}
.box-3 {
  left: 180px;
}

.b {
  display: block;
}
 /* 吹き出し */

/* index */
.index_table, td, th {
  border: 3px solid skyblue;
}
.index_table {
  width: 700px;
}
.join_users{
  position: relative;
}
.join_user_box {

  background: #f9e3e5;
  padding: 5px;
  with: 150px;
  height: auto;
  border: 3px solid black;
  border-radius: 5px;
  position: absolute;
  right: -110px;
  top: -80px;
  display: none;
}
.join_user_box_block {
  display: block;
}
/* index/ */
/* 新着通知 */
.balloon3 {
position: absolute;
display: inline-block;
margin:  0px;
padding: 0px;
width: 45px;
height: 45px;
line-height: 40px;
vertical-align: middle;
text-align: center;
color: #black;
font-size: 5px;
font-weight: bold;
background: #fcf2fb;
border-radius: 50%;
box-sizing: border-box;
right: -20px;
top: -45px;
border: 2px solid #ed04d5;
}
.new_chat_info {
  position: relative;
  /* display: none; */
}
.new_chat_info_block {
  display: block;
}
/* 新着通知 */
